<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Извините, заголовок потерян, мы скоро все исправим!{% endblock title %}</title>
    <link rel="stylesheet" href="{% block stylesheet %}{{ url_for("static", filename='CSS/base_header_stylesheet.sass/base_header_stylesheet.css') }}{% endblock stylesheet %}">
</head>
<body>
<header>
        <a href="/static" class="logo">LOGO</a>
        <nav>
            <ul class="menu">
                <li><a href="#">О нас</a></li>
                <li><a href="#">Технологии</a></li>
                <li><a href="#">Оставить отзыв</a></li>
            </ul>
        </nav>
        <nav class="auhtorisation">
            <ul>
                <li><a href="#">Профиль</a></li>
                <li><a href="#">Выйти</a></li>
            </ul>
        </nav>
    </header>
<main class="content">
    {% block content %}
    {% endblock content %}
</main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>